{% extends 'admin/index.html.twig' %}

{% block title %}New Tag{% endblock %}
    {% block sideBar %}{% endblock %}
{% block mainBody %}
<div class="d-flex flex-column align-items-center text-center mb-5 pb-5">
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Article_title</th>
                <th>Article_text</th>
                <th>Article_date_created</th>
                <th>Article_date_published</th>
                <th>Article_date_updated</th>
                <th>Article_created_by</th>
                <th>Article_visible</th>
                <th>Article_img_loc</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {{ dump(articles) }}
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.articleTitle }}</td>
                <td>{{ article.articleText }}</td>
                <td>{{ article.articleDateCreated ? article.articleDateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.articleDatePublished ? article.articleDatePublished|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.articleDateUpdated ? article.articleDateUpdated|date('Y-m-d H:i:s') : '' }}</td>
             {# <td>{{ article.articleCreatedBy }}</td> #}
                <td>{{ article.articleVisible ? 'Yes' : 'No' }}</td>
                <td>{{ article.articleImgLoc }}</td>
                <td>
                    <a href="{{ path('app_admin_article_show', {'id': article.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_article_new') }}">Create new</a>
</div>
{% endblock %}
