{% extends 'admin/index.html.twig' %}

{% block title %}New Tag{% endblock %}
{% block mainBody %}
    {% block sideBar %}{% endblock %}

<div class="d-flex flex-column align-items-center text-center mb-5 pb-5">
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Article_title</th>
                <td>{{ article.articleTitle }}</td>
            </tr>
            <tr>
                <th>Article_text</th>
                <td>{{ article.articleText }}</td>
            </tr>
            <tr>
                <th>Article_date_created</th>
                <td>{{ article.articleDateCreated ? article.articleDateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Article_date_published</th>
                <td>{{ article.articleDatePublished ? article.articleDatePublished|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Article_date_updated</th>
                <td>{{ article.articleDateUpdated ? article.articleDateUpdated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Article_created_by</th>
                <td>{{ article.articleCreatedBy }}</td>
            </tr>
            <tr>
                <th>Article_visible</th>
                <td>{{ article.articleVisible ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Article_img_loc</th>
                <td>{{ article.articleImgLoc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_article_index') }}">back to list</a>

    <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('admin_article/_delete_form.html.twig') }}
</div>
{% endblock %}
