{% extends 'template.front.html.twig' %}

{% block title %}{{ parent() }} | homepage{% endblock %}

{% block main %}
    {% for article in articles %}
        <article>
            <header class="mb-4">
                <!-- Post title-->
                <h3 class="fw-bolder mb-3">{{ article.postTitle }}</h3>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">Posté le {{ article.postDatePublished|date("d/m/Y \à H:i") }} par {{ article.user.username }}</div>
                <section class="mb-5">
                {%  for section in article.sections %}
                <a class="badge bg-secondary text-decoration-none link-light" href="{{ path("section", {id:section.id}) }}">{{ section.sectionTitle }}</a>
                {% else %}
                <a class="badge bg-secondary text-decoration-none link-light" >Pas de sections</a>
                {% endfor %}
                </section>
            </header>
            <!-- Preview image figure-->
            <!--<figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>-->
            <p>{{ article.postText|u.truncate(250, '...',false) }} </p>
            <!-- Post content-->
            <comment>
                <p class="fs-5 mb-4">{{ article.comments|length }} commentaire(s)</p>
            </comment>

        </article>
    {% else %}
        <h3>Pas encore d'articles</h3>
    {% endfor %}
{% endblock %}
{% block comment %}{#  {{ dump(articles) }} #}{% endblock %}
