<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon">
        {% block stylesheets %}
            <!-- plugins -->
            <link rel="stylesheet" href="{{  asset('plugins/bootstrap/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{  asset('plugins/themify-icons/themify-icons.css') }}">
            <link rel="stylesheet" href="{{ asset('plugins/slick/slick.css') }}">
            <!-- Main Stylesheet -->
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" media="screen">


        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <!-- JS Plugins -->
            <script src="{{ asset('plugins/jQuery/jquery.min.js') }}"></script>

            <script src="{{ asset('plugins/bootstrap/bootstrap.min.js') }}"></script>

            <script src="{{ asset('plugins/slick/slick.min.js') }}"></script>

            <script src="{{ asset('plugins/instafeed/instafeed.min.js') }}"></script>

            <!-- Main Script -->
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
